@font-face {
  font-family: "iconfont"; /* Project id 2620821 */
  src: url('iconfont.woff2?t=1624412304338') format('woff2'),
       url('iconfont.woff?t=1624412304338') format('woff'),
       url('iconfont.ttf?t=1624412304338') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuansuokuang:before {
  content: "\e691";
}

.icon-zhediemianban:before {
  content: "\e6a0";
}

.icon-biaoqian:before {
  content: "\e614";
}

.icon-xiaoxi:before {
  content: "\e6fe";
}

.icon-B-shengshiqu:before {
  content: "\e72d";
}

.icon-fsux_tubiao_jindutiaotu:before {
  content: "\e601";
}

.icon-table:before {
  content: "\e60f";
}

.icon-lunbotuguanli:before {
  content: "\e642";
}

.icon-linmo-kapian:before {
  content: "\e639";
}

.icon-buzhoutiao:before {
  content: "\e705";
}

.icon-fenyeqi:before {
  content: "\e706";
}

.icon-shuxingkongjian:before {
  content: "\e610";
}

.icon-anniu:before {
  content: "\e608";
}

.icon-wenbenbianji:before {
  content: "\e6d5";
}

.icon-tupianshangchuan:before {
  content: "\e69d";
}

.icon-fuhao-shuzishurukuang:before {
  content: "\e630";
}

.icon-riqixuanze:before {
  content: "\e600";
}

.icon-21upload:before {
  content: "\e69c";
}

.icon-huakuai:before {
  content: "\e627";
}

.icon-fengexian:before {
  content: "\e638";
}

.icon-pingfendengjiRating7:before {
  content: "\e6b3";
}

.icon-icon_time:before {
  content: "\e735";
}

.icon-icon_duoxuankuangzu:before {
  content: "\e738";
}

.icon-duohangshuru:before {
  content: "\e6d6";
}

.icon-danhangshuru:before {
  content: "\e6d7";
}

.icon-colorSelector:before {
  content: "\e63c";
}

.icon-danxuankuangzu:before {
  content: "\e645";
}

.icon-xialaxuanzekuang:before {
  content: "\e648";
}

.icon-wenbenyu:before {
  content: "\e6c6";
}

.icon-jilianxuanze:before {
  content: "\e60a";
}

.icon-kaiguan:before {
  content: "\e646";
}

